.Home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-image: url("../../../public/imgs/back.png");
  background-size: cover;
}
.panelImg {
  margin: 100px 80px;
}
.aboutShop {
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.gamerImg {
  width: 764px;
  height: 273px;
}
.icon {
  width: 100%;
  display: flex;
  justify-content: center;
}
